<h1>News</h1>
    <div class="row mb-2">
    <% @news.each do |news| %>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"  style="background-color: white; margin-right: 20px;">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2"><%= news.user.name || 'Anonimen avtor' %></strong>
            <h3 class="mb-0"><%= news.title %></h3>
            <div class="mb-1 text-muted"><%= news.created_at.strftime('%d.%m.%Y') %></div>
            <p class="card-text mb-auto"><%= news.body.truncate(40, separator: /\s/) %></p>
            <%= display_index_news_links(news) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<br>
<br>
