<h1>Posts</h1>
    <div class="row mb-2">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"  style="background-color: white; margin-right: 20px;">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2"><%= post.user.name || 'Anonimen avtor' %></strong>
            <h3 class="mb-0"><%= post.title %></h3>
            <div class="mb-1 text-muted"><%= post.created_at.strftime('%d.%m.%Y') %></div>
            <p class="card-text mb-auto"><%= post.body %></p>
            <%= display_index_post_links(post) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<br>

<%= link_to 'New Post', new_post_path %>
